body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ebefec; /* Warna background abu-abu kehijauan */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
header {
    background: #ffffff;
    border-bottom: 3px solid #f4b400; /* Garis kuning khas di bawah menu */
    padding: 14px 0;
    position: sticky; /* Menu tetap di atas saat di-scroll */
    top: 0;
    z-index: 9999;
}

.pembungkus {
    margin: 0 auto;
    padding: 0 40px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #1f5f3f;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #ee9f17; /* Warna berubah saat kursor menyentuh menu */
}

.tombol-login {
    background: #5daa6c;
    padding: 8px 18px;
    border-radius: 8px;
    color: #f5f6f7;
}

/*  UTAMA  */
.judul-halaman {
    font-size: 32px;
    color: #0f5132;
    margin: 15px 40px 25px 40px;
}

.judul-angkatan {
    color: #d4a017;
    margin: 0 40px 15px 40px;
}

.halaman-alumni {
    margin: 0 40px 60px 40px;
}

/* BAGIAN FILTER */
.kotak-filter {
    background: #fff;
    padding: 25px 30px;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 40px;
}

.bagian-kiri-filter {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bagian-kiri-filter select {
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #f8f8f8;
    font-size: 14px;
}

/* CARI NAMA  */
.pembungkus-cari {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.ikon-cari {
    position: absolute;
    left: 15px;
    color: #0f5132;
    z-index: 10;
}

.input-cari-nama {
    width: 550px;
    padding: 10px 15px 10px 40px !important; 
    border-radius: 25px; 
    border: 1px solid #989595;
    outline: none;
    transition: all 0.4s ease; 
}

.input-cari-nama:focus {
    width: 600px;
    border-color: #f4b400;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* TOMBOL AKSI */
.tombol-tampilkan {
    background: #0f5132;
    color: #fff;
    padding: 10px 22px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.tombol-tambah {
    background: #0f5132;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

/*  KARTU DATA ALUMNI */
.kotak-alumni {
    background: #feffff;
    border-radius: 14px;
    padding: 20px 25px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
    height: 130px
}

.kotak-alumni:hover {
    transform: translateY(-3px); /* Efek naik sedikit saat disentuh kursor */
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.bagian-foto {
    width: 85px;
    height: 85px;
    border-radius: 12px;
    overflow: hidden;
    margin-right: 20px;
    flex-shrink: 0;
}

.bagian-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bagian-info {
    flex: 1;
}

/*  TOMBOL  (PROFIL, EDIT, HAPUS)  */
.tombol-profil {
    background: linear-gradient(180deg, #ffc107, #f4b400);
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    color: #000;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.tombol-edit {
    background: #ffc107;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.tombol-hapus {
    background: #dc3545;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: #f4fbf7;
    margin-left: 10px;
}

/* FOOTER */
.footer {
    background: #ffffff; 
    color: #1f5f3f;      
    text-align: center;
    padding: 20px 0;     
    font-size: 14px;
    font-weight: bold;   
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1); 
}